body { font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 1.1em;
    line-height: 1.2em;
    background-color: #fff;
}

img { margin: 50px auto 50px auto;
    display: block;
    width: 180px;
}

p { text-align: center;
    display:block;
    padding: 0 42px;
    line-height: 27px;
}

a { color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

a:focus, a:hover, .a:visited { color: #000; text-decoration: none; }

.hideFirst { display: none; }

.bottomSpace { padding-bottom: 35px; }